td, th { padding: 5px 10px; text-align: center; font-size: 12px; }

/* <FILTER-TABLE> */
.filter-table { padding: 24px; margin: 20px 0; border: 1px solid rgba(0,0,0,.3); background-color: #fff;}
.filter-td > input, .filter-td > select { padding: 4px 10px; width: 300px; font-size: 13px; }
.filter-td > select { width: 300px; }
.filter-td > input { width: 150px; }
.filter-th { padding: 0; }
.filter-td { padding: 0px 15px 15px; }
/* </FILTER-TABLE> */


/* <LIST-TABLE> */
.list-table { border-collapse: collapse; }

.list-tr:nth-child(even) {background: #eee}
.list-tr:nth-child(odd) {background: #fff}
.list-tr:hover { background-color: yellow; }

.list-th, .list-td {
	padding: 8px 12px;
	border: 1px solid rgba(0,0,0,.3);
	font-size: 12px;
	text-align: center;
}

.list-th  { font-weight: bold; color: white; background-color: var(--col-secondary-l); }

/* <BTN-LIST> */
.btn-list { cursor: pointer; text-align: center; background: #112233; }
.btn-list a { color: #fff; text-decoration: none; font-size: 15px; }
/* </BTN-LIST> */


/* <PAGINATOR> */
.pagination { margin: 20px;  }
.pagination li { display: inline;  }
.pagination li a, .pagination .disabled { padding: 6px 10px; margin: 0px 5px; border: 1px solid rgba(0,0,0,.2); background-color: #fff;}
.pagination li a { text-decoration: none; color: var(--col-primary-l); }
.pagination .disabled { color: #CCC; }
.pagination .actual-page, .pagination li a:hover { background-color: var(--col-primary-l); color: #FFF; }
li.actual-page.disabled { background-color: var(--col-primary-d); color: #eee; }
/* </PAGINATOR> */
/* </LIST-TABLE> */